html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: '微软雅黑';
    vertical-align: baseline;
    text-decoration: none;
}
a{
	color: #000;
}
:focus{
    outline: 0;
}
table{
    border-collapse: separate;
    border-spacing: 0;
}
caption,th,td{
    font-weight: normal;
}
a,img,iframe{
    border: none;
}
ol,ul{
    list-style: none;
}
input,textarea,select,button{
    font-size: 100%;
    font-family: inherit;
}
body{
    font-size: 14px;
}
input[type="submit"],input[type="reset"],input[type="button"],input[type="file"],button { 
	-webkit-appearance: none;
	outline:none;
}
.cl::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.cl {
    clear: both;
}